.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 50px;
}

.Heading {
  background-color: #f5ba13;
  padding: 20px;
  color: black;
  border-radius: 8px;
  margin-bottom: 20px;
}

.AddNote {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  margin-bottom: 10px;
}

.AddNote textarea,
.AddNote .editInputArea {
  padding: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.AddNote textarea:focus,
.AddNote .editInputArea:focus {
  border-color: #f5ba13;
}

.AddNote img.submitIcon,
.AddNote img.deletIcon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  transition: transform 0.3s;
}

.AddNote img.submitIcon:hover,
.AddNote img.deletIcon:hover {
  transform: scale(1.2);
}

.NotesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  max-width: 1000px;
  /* border: solid red; */
}

.Note {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  /* width: calc(50% - 20px); */
  margin: 10px;
  text-align: left;
  font-size: 16px;
  color: #333;
  /* border: solid blue; */
}

.savedNote {
  cursor: pointer;
  margin: 0 0 10px 0;
  font-size: 20px;
  color: #555;
  transition: transform 0.2s;
}

.savedNote:hover {
  transform: scale(1.4);
}
